  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    }
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}   
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img {
    display: block;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /*Header*/
.header {
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 1px solid var(--cornflower);
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav {
    color: #2e2f42;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}
.header-list {
    color: #2e2f42;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 40px;
}
.header-link {
    display: block;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 0;
    gap: 40px;
}
.header-link:hover {
    color: #404bbf;
}    
.header-link:focus {
    color: #404bbf;
}
.contacts {
    margin-right: auto;
    border-bottom: 1px solid var(--cornflower);
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 40px;
}    
.contacts-item {
    color: #434455;
    display: flex;
    gap: 40px;
}
.contacts-link {
    color: #434455;
    display: block;
    padding: 24px 0;
    display: flex;
    text-decoration: none;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* Main */
.main-section {
    background-color: #2e2f42;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 188px 0 188px;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding-top: 191px;
    align-items: center;
    max-width: 496px;
    margin: 0 auto 48px;
}
.main-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 188px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
}
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/* Our Advantages */ 
.advantages-section {
    color: #434455;
    padding: 120px 0 120px;
}
.advantages-container {
    display: flex;
    align-items: center;
    width: calc(100% - 72px) / 4;
}
.advantages-list {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
list-style: none;
display: flex;
align-items: center;
gap: 24px;
margin: 120px auto;
}
.advantages-item {
    flex-basis: calc((100% - 72px) / 4);
}
.advantages-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.advantages-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* Our Team */
.team-section {
    background-color: #F4F4FD;
    line-height: 1.11;
    font-size: 36px;
    padding: 120px 0 120px;
}
.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    width: calc(100% - 72px) / 4;
}
.team-title-middle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    align-items: center;
    margin-bottom: 72px;
}
.team-list {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0;
}
.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.team-info {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
    margin-top: 32px;
    text-align: center;
}
.team-text {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*Our Portfolio*/
.portfolio-section {
    color: #2e2f42;
    text-transform: capitalize;
    line-height: 1.11;
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.portfolio-title-middle {
    color: #2e2f42;
    text-align: center;
    line-height: 1.11;
    font-size: 36px;
    letter-spacing: 0.02em;
    align-items: center;
    margin-bottom: 72px;
}
.portfolio-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    align-items: center;
    padding: 0;
    margin: 0;
}
.portfolio-item {
    background-color: #FFFFFF;
    margin-bottom: 8px;
    width: calc((100% - 48px) / 3);
    margin-bottom: 0
}
.portfolio-item-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}
.portfolio-title {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding-top: 32px;
    margin-bottom: 8px;
}
.portfolio-text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    margin-bottom: 0
}
/*Footer*/
.footer-container {
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100px;
}
.footer-page {
    background-color: #2e2f42;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-link-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 16px;
    }
.footer-text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    padding-bottom: 100px;
    max-width: 264px;
    margin: 0;
}